.intro{

    height: 90vh;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:20px;
}



.image img{
    /* object-fit: cover; */
    height: 350px;
    border-radius: 50%;
    border:2px solid rgb(139, 15, 221);
    box-shadow: 0px 0px 5px 5px purple;

}

.details{
    width:40%;
}

.text{
    background-color: rgb(4, 4, 15);
    display: flex;
    flex-direction: column;
    border-radius:25px;
    box-shadow:0px 0px 10px 5px rgb(59, 57, 57);
    height: 200px;
    border:1px solid white;
}
.design{
    width:100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-top:10px;
    margin-bottom:15px;
    gap:5px;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;

}
.green{
    background-color:rgb(123, 240, 123);
}
.circle{
    width:20px;
    height: 20px;
    border-radius: 50%;
}
.about{
    padding-left: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap:15px;
    font-family: 'Fira Code', monospace;
}

.icons-list{
    width:100%;
    display: flex;
    justify-content: center;
    padding-top:25px;
    gap:10px;
    transition:all ease;
    
}

.icon{
    width: 35px;
    
}
.icon:hover{
    color:purple;
    
}


@media (max-width: 1000px) {
    .image img{
        height: 300px;
    }
}

@media (max-width: 800px) {
    .intro{
        flex-direction: column;
    }
    .details{
        width:95%;
        
    }
    .icon{
        size: 20px;
    
    }

    .image img{
        height: 250px;
        margin-top:50px;
    }

    .image{
        padding-bottom:100px;

    }
 
}

