@import "tailwindcss";

.header{
    margin:0px;
    width:100%;
    height:10vh;

}
.header ul{
    height: 100%;
    margin:0px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: end;
    align-items: center;
    padding-right: 60px;
    color:white;
    font-size:24px;
    list-style: none;
}
.header .link{
    cursor: pointer;
}
.header .link:hover{
    color: antiquewhite;
    text-shadow: 2px 2px 2px gray ;
}

.ul-change{
    display:none;
    
}


@media (max-width: 2000px) {

}


@media (max-width: 1600px) {

  

}

@media (max-width: 1300px) {

}

@media (max-width: 1000px) {
    .header ul{
        font-size:16px;
    }
}

@media (max-width: 800px) {
    .header ul{
        font-size:14px;
   
    }
}

@media (max-width: 575px) {
    .header ul{
        gap:20px;
        padding-right: 10px;
    }
}

@media (max-width: 450px) {


}