.contact-container{
    display: flex;
    width:100%;
    margin-top:100px;
    flex-direction: row;
    justify-content: center;
}
.form{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:1px solid red;
    border-radius: 15px;
    padding:20px;
    box-shadow: 0px 0px 5px 2px rgb(184, 100, 100);
}


.form h1{
    font-size: 24px;
    margin-bottom:60px;
    text-shadow:0px 0px 20px  rgb(238, 29, 29);
}
.form input{
    border:1px solid red;
    border-radius:10px;
    width:80%;
    height: 40px;
    margin-top: 10px;
    margin-bottom:20px;
    padding-left: 5px;
}
.form input:focus{
    box-shadow: 0px 0px 5px 2px red;
}

.form label{
    font-size:16px;
}
.form button{
    width:100px;
    background-color:rgb(245, 9, 9);
    height:40px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}
.form button:hover{
    box-shadow: 0px 0px 5px 5px rgb(78, 1, 1);
}


@media (max-width: 1000px) {
    .form{
        width:90%;
    }
}

@media (max-width: 800px) {

 
}