.skills{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills p{
    margin-bottom:30px;
    font-size: 24px;
}
.skills-list{
    width:40%;
    border:1px solid white;
    box-shadow: 0px 0px 4px white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height:60vh;
    padding-top: 30px;
}

.skill{
    background-color: rgb(194, 1, 1);
    width:320px;
    height:40px;
    margin:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-weight: 600;
    box-shadow: 0px 0px 5px rgb(245, 211, 211);
    text-shadow: 2px 3px 5px rgb(66, 5, 5);
}


@media (max-width: 1000px) {
    .skills-list{
        width: 90%;
        
    }
}

@media (max-width: 800px) {
.skills-list{
    width: 98%;

}
.skill{
    width: 200px;
}
 
}