body{
    background-color: black;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    width:100%;
    height:auto;
    font-family: "Montserrat", sans-serif;
    color:white;
}
#root{
    width:100%;
    height: 100%;
    margin: 0px;
    padding:0px;
}